html, body{ padding: 0; margin: 0; }
body {
    background-color: black;
    /*
    font-family: "Roboto", courier, sans-serif;
    font-weight: 400;
    */
}

/* Reload button */
#page-reload {
    position: absolute;
    padding: 10px;
    z-index: 100;
    right: 10px;
    top: 10px;
    background: #262626;
    background-image: url("../images/icon-recycle.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


/* Left hand side navigation for dates and parameters */
#param-panel {
    position: absolute;
    display: block;
    left: 0px;
    right: 0px;
    z-index: 100;
    min-width: 300px;
    width: 20%;
    min-height: 100%;
    background-color: #121314; /* black; */
    padding: 1.5em;
    font-size: 130%;
}
#param-panel ul {
    padding-left: 1em;
}
#param-panel #years {
    padding-bottom: 1em;
}
#param-panel #years select {
    margin-left: 1em;
    width: 40%;
    text-align: center;
    background-color: #888888;
    color: white;
}
#param-panel #years div {
    float: left;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    border: 0.5px solid #888888;
    background-image: url("../images/year_buttons.svg");
    background-position: top left;
    background-size: auto 100%;
    background-repeat; no-repeat;
}
#param-panel #years div:hover {
    background-color: #888888;
}
#param-panel #years div#year-bwd { margin-left: 1em; }
#param-panel #years div#year-fwd { margin-left: 0.1em; background-position: top right; }
#param-panel #year-bwd {
    margin-right: .5em;
    padding-right: .5em;
}
#param-panel ul li {
    list-style: none;
    color: white;
}
#param-panel ul li:hover {
    cursor: pointer;
    color: gray;
}
#param-panel ul li.active {
    color: #72A7DA;
}
#param-panel ul li.active:hover {
    color: gray;
}

#param-panel ul li.disabled {
    cursor: none;
    display: none;
}

/* Things in the navigation */
#param-panel h4 {
    color: #cecece;
}

/* Colormap panel */
#colormap-panel {
    position: absolute;
    display: block;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    min-width: 300px;
    width: 800px;
    min-height: 30px;
    background-color: black;
    padding: 2px 10px;
}
#colormap-panel img {
    max-width: 100%;
}

/* Container for the globe */
#earth-div-wrapper {
    z-index:100;
    margin-left: 300px;
}

#earth-div{
    /* top: 0; right: 0; bottom: 0; left: 0; position: absolute !important; */
}
